.color-nav {
  background-color: darkgray;
}

.link-nav {
  text-decoration: none;
}

.link-nav:hover {
  text-decoration: none;
}

.button-navbar {
  background-color: transparent;
  border: none;
  color: white;
}

@media (max-width: 600px) {
  .mobile {
    width: 100%;
    font-size: 14px;
  }
}
